.container {
  text-align: center;

  .title {
    text-align: center;
    margin-bottom: 20px;
  }

  .loginButton {
    margin: 10px 0;
  }

  .captchaPopup {
    padding: 20px;
    text-align: center;

    .captchaTitle {
      margin-bottom: 15px;
    }

    .captchaText {
      font-size: 24px;
      letter-spacing: 5px;
      margin: 15px 0;
    }

    .confirmButton {
      margin-top: 10px;
    }
  }
  :global(.rv-cell__title){
    text-align: left;
  }
}