// src/styles/mainLayout.module.scss
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding-bottom: 50px;
}

.sidebar {
  height: 100%;
  background-color: #f7f8fa;
  border-right: 1px solid #ebedf0;

  .sidebarContent {
    height: 100%;
  }

  .sidebarItem {
    display: flex;
    align-items: center;
    gap: 8px;

    .sidebarTitle {
      font-size: 16px;
    }
  }
}

.mainContent {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  background-color: #f1f2f5;
}

:global(.rv-sidebar) {
    width:100%;
  }

:global(.rv-sidebar-item--select::before){
  background-color:var(--rv-blue)
}

// 桌面端：侧边栏宽度 200px
@media (min-width: 768px) {
  .sidebar {
    width: 200px;
  }
}

// 移动端：侧边栏宽度 80px，标题缩小
@media (max-width: 767px) {
  .sidebar {
    width: 80px;

    .sidebarItem {
      flex-direction: column;
      gap: 4px;

      .sidebarTitle {
        font-size: 12px;
      }
    }
  }

  .mainContent {
    margin-top: 45px;
    padding: 10px;
  }
  
}